.navbar-container {
  display: flex;
  height: 100vh;
  background-color: transparent;
  border-right: 1px solid #b3b3b3;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  transition: width 0.3s;
  background-color: transparent;
}

.navbar-wrapper.collapsed {
  width: 80px;
}

.navbar-main-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.navbar-bottom-menu {
  margin-top: auto;
}